<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/48d660b4b7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Boolzapp</title>
</head>

<body>
    <div id="app">
        <div class="app_background">
            <div class="green_background"></div>
            <div class="gray_background"></div>
        </div>
        <div class="container my_container">
            <div class="row">
                <div class="col-4 col_4">
                    <div class="account_header d-flex justify-content-between align-items-center">
                        <div>
                            <img class="avatars" src="./assets/img/avatar_io.jpg" alt="#">
                            <span class="fw-bold">Yuri</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- /.account_header -->
                    <div class="notification_bar d-flex align-items-center">
                        <i class="fa-solid fa-bell-slash round_icon"></i>
                        <div class="d-flex flex-column">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a class="active_notify" href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- /.notification_alert -->
                    <div class="search_bar d-flex justify-content-center align-items-center">
                        <div class="input-group my_input_group">
                            <button class="my_button" type="button" id="button-addon1">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" class="form-control"
                                aria-label="Example text with button addon" aria-describedby="button-addon1"
                                v-model="searchInput" @keyup="realTimeSearch">
                        </div>
                    </div>
                    <!-- /.search_bar -->
                    <div class="all_chats">
                        <div class="contatcs_chats"
                            v-for="(contact,i) in contacts" @click.stop="selectChat(i)"
                            :class="i === activeElement ? 'active' : '' ">
                            <div v-if="contact.visible" class="d-flex justify-content-start align-items-center border_top position-relative">
                                <div>
                                    <img :src=`./assets/img/avatar${contact.avatar}.jpg` class="avatars" alt="#">
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="fw-bold">{{contact.name}}</span>
                                    <span class="last_message_sent">Ultimo messaggio inviato</span>
                                    <div class="last_message_time">12:00</div>
                                </div>
                            </div>
                            <div v-else></div>

                        </div>

                    </div>
                    <!-- /.all_chats -->
                </div>
                <div class="col-8 col_8">
                    <div class="chat_header d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <img :src=`./assets/img/avatar${contacts[activeElement].avatar}.jpg` class="avatars"
                                alt="#">
                            <div>
                                <div class="d-flex flex-column">
                                    <span class="fw-bold">{{contacts[activeElement].name}}</span>
                                    <span class="last_acces">Ultimo accesso oggi alle 12:00</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- /.chat_header -->
                    <div class="chat_main">
                        <div v-for="(messageInfo,j) in contacts[activeElement].messages" class="d-flex flex-column" @click="openDeleteWindow">
                            <div :class="messageInfo.status === 'received' ? 'received' : 'sent' "
                                class="d-flex position-relative">
                                <span>
                                    {{messageInfo.message}}
                                </span>
                                <span class="message_time">
                                    {{messageInfo.date}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- /.chat_main -->
                    <div class="chat_footer d-flex justify-content-evenly align-items-center">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" class="form-control" placeholder="Scrivi un messaggio"
                            @keyup.enter="sendMessage" v-model="newMessage.message">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                    <!-- /.chat_footer -->
                </div>
            </div>
        </div>
    </div>



    <!-- script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>