* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
}

.green_background {
    height: 15vh;
    background-color: #009688;
}

.gray_background {
    height: 85vh;
    background-color: #d9dbd5;
}

.app_background {
    position: relative;
}

.my_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
}

.col_4,
.col_8 {
    padding-left: 0;
    padding-right: 0;
}

.col_8 {
    border-left: 1px solid #d6d6d6;
}

.border_top {
    border-top: 1px solid #e9ebeb;
}

.account_header,
.chat_header {
    background-color: #eaeaea;
}

.avatars {
    border-radius: 50%;
    height: 70px;
    aspect-ratio: 1 / 1;
    padding: 10px;
}

.account_header i,
.chat_header i {
    padding-right: 15px;
    font-size: 20px;
    color: #b1b1b1;
}

.account_header,
.chat_header,
.chat_footer {
    height: 70px;
}

.notification_bar {
    height: 80px;
    background-color: #8edafc;
}

.round_icon {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafc;
    font-size: 20px;
    margin: 10px;
}

.active_notify {
    color: grey;
    font-size: 14px;
}

.my_input_group {
    padding: 0 5px;
}

.my_button {
    width: 17%;
    background-color: white;
    border: 1px solid #ced4da;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search_bar {
    height: 50px;
    background-color: #fafafa;
}

.search_bar i {
    color: #b1b1b1;
}

.search_bar input:focus {
    box-shadow: none;
}

.search_bar button:hover {
    cursor: default;
}

.all_chats {
    height: calc(95vh - 200px);
    background-color: white;
    overflow-y: scroll;
}

.last_message_time {
    position: absolute;
    top: 2px;
    right: 4px;
    color: gray;
    font-size: 12px;
}

.last_message_sent {
    font-size: 14px;
    color: gray;
}

.chat_main {
    height: calc(95vh - 140px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.chat_footer {
    background-color: #f3eeea;
}

.chat_footer input {
    width: 75%;
    height: 50px;
    border-radius: 4px;
    border: none;
}

.chat_footer i {
    color: #6b7376;
    font-size: 25px;
}

.active {
    background-color: #e9ebeb;
}

.last_acces {
    font-size: 14px;
    color: gray;
}

.received,
.sent {
    padding: 20px;
    border-radius: 5px;
    margin: 1rem;
    max-width: 300px;
}

.received {
    background-color: white;
}

.sent {
    background-color: #d5f9ba;
    align-self: end;
}

.message_time {
    position: absolute;
    bottom: 2px;
    right: 4px;
    font-size: 11px;
    color: gray;
}