* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.green_background {
    height: 15vh;
    background-color: #009688;
}

.gray_background {
    height: 85vh;
    background-color: #d9dbd5;
}

.app_background {
    position: relative;
}

.container>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh !important;
    width: 80%;
    margin: auto !important;
}

.row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-8 {
    border-left: 2px solid #d6d6d6;
}

.account_header,
.chat_header {
    background-color: #eaeaea;
}

.avatars {
    border-radius: 50%;
    height: 70px;
    aspect-ratio: 1 / 1;
    padding: 10px;
}

.account_header i {
    padding-right: 15px;
    font-size: 20px;
    color: #b1b1b1;
}

.chat_header i {
    padding-right: 15px;
    font-size: 20px;
    color: #b1b1b1;
}

.notification_alert {
    background-color: #8edafc;
}

.round_icon {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafc;
    font-size: 20px;
    margin: 10px;
}

.active_notify {
    color: grey;
    font-size: 14px;
}

.search_bar input {
    height: 10%;
    width: 95%;
    margin: 8px 0;
}

.search_bar {
    background-color: #fafafa;
}

.all_chats {
    height: 100%;
    background-color: white;
    overflow-y: scroll;
}

.chat_main {
    height: 100%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.chat_footer input {
    border-radius: 4px;
    border: none;
}