* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.green_background {
    height: 15vh;
    background-color: #009688;
}

.gray_background {
    height: 85vh;
    background-color: #d9dbd5;
}

.app_background {
    position: relative;
}

.container>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 75%;
}

.row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.account_header,
.chat_header {
    background-color: #eaeaea;
}

.avatars {
    border-radius: 50%;
    height: 70px;
    aspect-ratio: 1 / 1;
    padding: 10px;
}

.col-8 {
    border-left: 1px solid #d6d6d6;
}